@using HospitalTask.Models
@model Doctor3

<form asp-action="Update" method="post">

    <div class="form-group">

        <label asp-for="Name"> </label>
        <input asp-for="Name" class="form-control">
        <label asp-for="Department3Id"> </label>
        <input asp-for="Department3Id" class="form-control">



    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

